.container {
    display: flex;
    background: #00794c;
    min-width: 500px;
    width: 500px;
    height: 300px;
    padding: 0px;
}

.horizon-boundary {
    background: white;
    width: 500px;
    height: 30px;
    margin-top: 135px;
    display: flex;
}

.vertical-boundary {
    background: white;
    height: 165px;
    width: 30px;
    margin-left: 125px;
}

.spot {
    position: absolute;
    z-index: 1;
    top: 142px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 999em;
    background-color: #727071;
}